@font-face {
  font-family: "klavika-regular";
  src: url("./../font/klavika-regular-webfont.woff");
}

:root {
  --main-font-color: white;
}

html, body {
  margin: 0;
}

html,
body,
.container,
.container-layout,
.info {
  height: 100%;
  width: 100%;
}

.container {
  overflow: hidden;
  position: absolute;
  font-family: "klavika-regular";
}
.container-layout {
  position: absolute;
  background-size: 612% 100%;
  background-repeat: no-repeat;
  transition-property: background-position, right;
  transition-duration: 1s, 1s;
}

.info {
  position: absolute;
  width: 69%;
  color: var(--main-font-color);
  background-color: #101010;
  text-align: right;
  transition-property: left;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-text {
  margin-top: 26%;
  margin-right: 2%;
  font-size: 0.7em;
}

.title {
  font-size: 3em;
  color: var(--main-font-color);
  text-transform: uppercase;
  position: absolute;
  text-decoration: underline;
}

.text {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.txt-current-active {
  opacity: 1;
}

.text0 .title {
  left: 2%;
  top: 2%;
}
.text0 .little-text {
  left: 2%;
  bottom: 10%;
}

.text1 .title,
.text2 .title,
.text6 .title,
.text7 .title,
.text8 .title {
  left: 6%;
  top: 48%;
}

.text3 .title,
.text4 .title {
  right: 6%;
  top: 48%;
  text-align: right;
}

.text5 .title {
  right: 6%;
  top: 38%;
  text-align: right;
}

p {
  margin: 0;
}

.little-text {
  color: var(--main-font-color);
  position: absolute;
  font-size: 0.6em;
  left: 17%;
  bottom: 5%;
}


.buttons-container {
  color: var(--main-font-color);
  display: flex;
  position: fixed;
  border-style: dotted;
  bottom: 4%;
  left: 2%;
  width: 180px;
  font-size: 0.8em;
  z-index: 1;
}
.buttons-container:hover{
  cursor: pointer;
}

.btn {
  margin: 1%;
  width: 8%;
  text-align: center;
}

.btn:not(:last-child){
  border-right-style: dotted;
}

.btn-current-active {
  background-color: var(--main-font-color);
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  position: absolute;
  width: 96%;
  z-index: 1;
  top: 50%;
}

.arrows img {
  width: 70%
}

.arrows img:hover{
  cursor: pointer;
}

#left-arrow {
  visibility: hidden;
}

.social {
  display: inline-flex;
  margin-top: 40px;
}
.social p {
  margin-left: 8%;
}
.mail-logo,
.face-logo,
.twitter-logo {
  width: 30px;
}

.monk-logo img,
.mail-logo img,
.face-logo img,
.twitter-logo img {
  filter: invert(100%);
  width: 100%;
}

.mail-info,
.face-info,
.twitter-info {
    display: flex;
    width: 90px;
    align-items: center;
}

.monk-logo {
  width: 5%;
  position: fixed;
  bottom: 0%;
  right: 0%;
  opacity: 0.6;
  margin-right: 2%;
}

.title-info {
  position: initial;
  margin: 2%;
}

@media (max-width:600px){
  .title {
    font-size: 2em;
  }

  .text1 .title,
  .text2 .title,
  .text6 .title,
  .text7 .title,
  .text8 .title {
    left: 14%;
    top: 35%; 
  }

  .little-text {
    font-size: 0.7em;
    left: 2%;
    bottom: 13%;
  }

  .text3 .title,
  .text4 .title,
  .text5 .title {
    right: 15%;
    top: 24%;
  }

  .social {
    flex-direction: column;
  }
}
